@media screen and (max-width:1280px) {
    .book {
        padding-left: 30px;
        padding-top: 20px;
    }

    .head h1 {
        padding-top: 10px;
    }

    .clients {
        height: 400px;
    }

    .clients img {
        height: 150px;
        width: 150px;
    }
}